<?xml version="1.0"?>
<Project Sdk="Microsoft.NET.Sdk">

    <PropertyGroup>
        <SkipCopyBuildProduct>true</SkipCopyBuildProduct>
        <TargetFramework>net10.0</TargetFramework>
        <CopyBuildOutput>false</CopyBuildOutput>
        <CopyOutputSymbolsToPublishDirectory>false</CopyOutputSymbolsToPublishDirectory>
        <CopyBuildOutputToPublishDirectory>false</CopyBuildOutputToPublishDirectory>
        <CopyLocalLockFileAssemblies>true</CopyLocalLockFileAssemblies>
    </PropertyGroup>

    <ItemGroup>
        <PackageReference Include="Microsoft.Build.Locator" Version="1.11.2" />
    </ItemGroup>

    <Target Name="CreateManifestResourceNames" />
    <Target Name="CoreCompile" />
    <Target Name="CopyFilesToPublishDirectory" />
</Project>
